@import url(https://fonts.googleapis.com/css?family=Sansation:300,300italic,regular,italic,700,700italic);
@import url(https://fonts.googleapis.com/css?family=Michroma:regular);


:root {
    --primary: #8A784E;
    --secondary: #F5F5DC;
    --white: #FFFFFF;
    --oliveGreen: #6B8E23;
    --title-color: #2c2c2c;
    --font: "Sansation";
    --font2: "Michroma";
    --gradientBrown: linear-gradient(225deg, rgba(111, 78, 55, 1) 0%, rgba(138, 120, 78, 1) 100%);
    --boxShadowSm: 0px 5px 20px 4px rgb(0, 0, 0, 0.4);
    --boxShadow: 0px 5px 18px 9px rgb(0, 0, 0, 0.4);
    --boxShadowWhite: 0px 4px 10px 4px rgb(255, 255, 255, 0.8);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-family: var(--font);
    background: var(--gradientBrown);
    backdrop-filter: brightness(60%);
    min-height: 100vh;
}

main {
    padding-bottom: 50px;
}

h1 {
    font-size: 32px;
    color: var(--white);
}

a,
button {
    cursor: pointer;
}

.container {
    max-width: 1240px;
    width: 100%;
    padding: 0 20px;
    margin: 0 auto;
}

.section-bottom {
    margin-bottom: 45px;
}

.circle-button {
    width: 45px;
    aspect-ratio: 1 / 1;
    color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 50%;
}

.circle-button i {
    font-size: 24px;
}

.actions-box {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 14px;
}

.button {
    border: none;
    border-radius: 14px;
    padding: 12px 18px;
    color: var(--white);
    font-family: var(--font);
    font-size: 17px;
}

.button-green {
    background-color: var(--oliveGreen);
}

.button-brown {
    background-color: var(--primary);
}

.button-gradient {
    background: var(--gradientBrown);
}

.title {
    font-size: 22px;
    font-weight: 700;
    color: var(--title-color);
}

.header {
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: var(--secondary);
    box-shadow: var(--boxShadowSm);
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-block: 12px;
}

.logo h1 {
    color: var(--primary);
    font-size: 36px;
}

.banner-content {
    width: 100%;
    height: 100%;
    background-image: url("../assets/images/kitchen-table-image.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: var(--boxShadow);
    overflow: hidden;
    border-radius: 14px;
}

.banner-content-title {
    padding-block: 45px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    backdrop-filter: brightness(65%);
}

.banner-content-title h1 {
    font-size: 32px;
    font-weight: 600;
}

.banner-content-title p {
    font-size: 18px;
    color: var(--secondary);
}

.statistics-section {
    margin-bottom: 50px;
}

.statistics-content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}

.statistics-item {
    box-shadow: var(--boxShadowSm);
    /* background-color: #f0f1fb; */
    background-color: var(--secondary);
    border-radius: 14px;
    padding: 25px;
    transition: 300ms;
    cursor: default;
}

.statistics-item:hover {
    transform: translateY(-6px);
    box-shadow: var(--boxShadow);
}

.statistics-item h3 {
    font-size: 40px;
    font-weight: 600;
    color: var(--oliveGreen);
    margin-bottom: 12px;
    text-align: center;
}

.statistics-item p {
    text-align: center;
    font-size: 18px;
}

.layout {
    display: flex;
    gap: 30px;
}

.main-content {
    border-radius: 14px;
    width: 70%;
    height: max-content;
    box-shadow: var(--boxShadowSm);
}

.side-content {
    width: 30%;
    display: block;
}

.sidebar-item {
    overflow: hidden;
    border-radius: 10px;
    width: 100%;
    height: 400px;
    margin-bottom: 40px;
    box-shadow: var(--boxShadowSm);
    background-color: var(--secondary);
}

.sidebar-item-header {
    text-align: center;
    padding-block: 14px;
    box-shadow: var(--boxShadowSm);
}






.create-btn {
    text-align: center;
    border: 2px solid green;
    border-radius: 15px;
}

.create-btn a {
    text-decoration: none;
    color: black;
}

.orders-container {
    border-radius: 14px;
    background-color: var(--secondary);
    padding: 30px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.order {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin-bottom: 20px;
    border: 1px solid #cdcdcde2;
    border-radius: 10px;
    transition: box-shadow 550ms;
}

.order:hover {
    border-color: var(--secondary);
    box-shadow: var(--boxShadow);
}

.table {
    padding-block: 14px;
    padding-inline: 24px 14px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--oliveGreen);
}

.table h3 {
    font-size: 28px;
    font-weight: 700;
    color: var(--oliveGreen);
}

.table h4 {
    font-family: var(--font2);
    font-size: 20px;
    font-weight: 900;
    color: var(--title-color);
    letter-spacing: 1.4px;
}

.table h4 span {
    color: var(--oliveGreen);
}

.product {
    position: relative;
    width: 100%;
    padding-block: 14px;
    padding-inline: 24px 14px;
    z-index: 2;
    cursor: pointer;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    align-items: center;
}

.product::after {
    content: "";
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    width: calc(100% - 30px);
    height: calc(100% - 15px);
    transform: translate(-50%, -50%);
    background-color: #c0c2c6;
    border-radius: 10px;
    transition: 430ms;
    opacity: 0;
}

.product:hover::after {
    transition: 430ms;
    opacity: 1;
}

.product .order-img {
    grid-column: 1 / span 1;
    object-fit: contain;
    border-radius: 6px;
}

.product .order-img img {
    width: 70%;
}

.product .order-name {
    grid-column: 2 / span 2;
}

.product .order-name h3 {
    font-size: 20px;
    font-weight: 500;
    text-align: left;
}

.product .order-quantity {
    grid-column: 5 / span 1;
}

.product .order-quantity p {
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 1.4px;
    text-align: center;
}

.product-prepared {
    text-decoration: line-through;
    color: gray;
    cursor: default;
}

.order-actions-box {
    border-top: 1px solid #cdcdcde2;
    padding: 10px;
    justify-content: end;
}


.verify-prepared {
    width: 100vw;
    height: 100vh;
    background-color: rgb(224, 216, 216);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}

.meal-info {
    width: 80%;
    height: 50vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    font-family: sans-serif;
    font-weight: bold;
    font-size: x-large;
    color: black;
    align-content: flex-end;
}

.meal-info div {
    width: 100%;
    display: flex;
    justify-content: center;
}

.meal-info p {
    background-color: white;
    border-radius: 8px;
    padding: 5px 10px;
}

.meal-info img {
    width: 100px;
    height: 100px;
    object-fit: contain;
    border-radius: 8px;
}

.verify-popup-btns {
    width: 80%;
    height: 50vh;
    display: flex;
    justify-content: space-evenly;
    align-items: start;
    align-content: flex-start;
    flex-wrap: wrap;
    gap: 20px;
}

.verify-question {
    width: 100%;
}

.verify-popup-btns button {
    font-size: x-large;
    padding: 0 30px;
    cursor: pointer;
}


.btn {
    width: 100px;
    height: 50px;
    font-size: 20px;
    font-weight: bold;
}

.hidden {
    display: none;
}