@import url('https://fonts.googleapis.com/css2?family=Sansation:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

:root {
    --primary: #8A784E;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Sansation";
}

a,
button {
    cursor: pointer;
}

body {
    width: 100vw;
    height: 100vh;
    background-image: url('../images/woman-drinking-a-cocktail.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

#pagePreloader,
.progress-loader {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    height: 100%;
    background-color: #ffffffc8;
    display: none;
    align-items: center;
    justify-content: center;

    & .loader {
        width: 48px;
        height: 48px;
        border-radius: 50%;
        display: inline-block;
        position: relative;
        border: 6px solid;
        border-color: var(--primary) var(--primary) transparent;
        box-sizing: border-box;
        animation: rotation 400ms linear infinite;
    }

    & .loader::after {
        content: '';
        box-sizing: border-box;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        border: 6px solid;
        border-color: transparent var(--primary) var(--primary);
        width: 32px;
        height: 32px;
        border-radius: 50%;
        animation: rotationBack 200ms linear infinite;
        transform-origin: center center;
    }
}

#pagePreloader {
    background-color: white;

    & p {
        font-size: 36px;
        font-weight: 600;
        margin-left: 15px;
    }
}

#pagePreloader.active,
.progress-loader.active {
    display: flex;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes rotationBack {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(-360deg);
    }
}

.error-alert {
    position: fixed;
    z-index: 100;
    top: 10%;
    right: -100%;
    min-width: 350px;
    transform: translate(-50%, -50%);
    padding: 18px 28px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 20px -8px rgb(0, 0, 0, 0.3);
    border-radius: 8px;
    transition: 450ms;

    & div {
        display: flex;
        align-items: center;
        gap: 16px;

        & .icon-box {
            width: 38px;
            height: 38px;
            display: flex;
            align-items: center;
            justify-content: center;

            & i {
                font-size: 36px;
                color: red;
            }
        }

        & .text-box {
            width: 70%;
            display: block;

            & h3 {
                font-size: 20px;
                font-weight: 500;
                margin-bottom: 6px;
            }

            & p {
                height: 18px;
            }
        }
    }
}

.error-alert.error {
    right: -10%;
    transition: 450ms;
}

.filters {
    width: 100%;
    height: 100%;
    backdrop-filter: blur(5px) brightness(60%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-popup {
    z-index: 3;
    width: 48%;
    background-color: #fff;
    padding: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    border-radius: 24px;
}

.form-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
    padding-inline: 8px;
}

#login_form {
    width: 100%;
}

.form-content,
.right-side-img {
    width: 50%;
    aspect-ratio: 3 / 4;
}

.form-logo img {
    display: block;
    margin: 0 auto 35px;
    width: 65%;
}

.input-wrapper {
    position: relative;
    height: 42px;
    margin-bottom: 20px;
}

.input-wrapper input {
    display: block;
    width: 100%;
    height: 100%;
    font-size: 18px;
    border: 2px solid var(--primary);
    border-radius: 10px;
    padding: 10px 20px;
}

.input-wrapper input:focus,
.input-wrapper input:focus-visible {
    outline: none;
}

.submit-btn {
    display: block;
    width: 100%;
    height: 42px;
    border: none;
    border-radius: 10px;
    background-color: var(--primary);
    color: white;
    font-size: 18px;
}

.right-side-img {
    width: 50%;
    height: 100%;
}

.right-side-img img {
    width: 100%;
    height: 100%;
    border-radius: 14px;
    object-fit: cover;
    object-position: top;

}


@media screen and (max-width: 900px) {
    .form-logo img {
        width: 30%;
        margin-bottom: 30px;
    }

    .form-popup {
        width: 55%;
        flex-direction: column-reverse;
        padding: 0;
        gap: 0;
        box-shadow: 0 0 18px 3px rgba(158, 158, 158, 0.23);
    }

    .form-content,
    .right-side-img {
        width: 100%;
        aspect-ratio: 2 / 1;
    }

    .form-content {
        background-color: white;
        padding: 20px;
        border-radius: 14px;
        transform: translateY(-20px);
    }

    .input-wrapper {
        margin-bottom: 12px;
        height: 42px;
    }

    .input-wrapper input {
        padding: 6px 14px;
        font-size: 16px;
    }

    .submit-btn {
        font-size: 16px;
        height: 42px;
    }

    .right-side-img img {
        border-radius: 14px 14px 0 0;
    }
}

@media screen and (max-width: 768px) {
    .form-popup {
        width: 80%;
    }

    .form-content,
    .right-side-img {
        aspect-ratio: 3 / 2;
    }

    .form-logo img {
        width: 60%;
    }
}