@import url('https://fonts.googleapis.com/css2?family=Sansation:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

:root {
    --primary: #74512D;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Sansation";
}

a,
button {
    cursor: pointer;
}

body {
    width: 100vw;
    height: 100vh;
    background-image: url('../images/woman-drinking-a-cocktail.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    backdrop-filter: brightness(80%);
    padding-inline: 25px;
    position: relative;
}

#pagePreloader,
.progress-loader {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    height: 100%;
    background-color: #ffffffc8;
    display: none;
    align-items: center;
    justify-content: center;

    & .loader {
        width: 48px;
        height: 48px;
        border-radius: 50%;
        display: inline-block;
        position: relative;
        border: 6px solid;
        border-color: var(--primary) var(--primary) transparent;
        box-sizing: border-box;
        animation: rotation 400ms linear infinite;
    }

    & .loader::after {
        content: '';
        box-sizing: border-box;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        border: 6px solid;
        border-color: transparent var(--primary) var(--primary);
        width: 32px;
        height: 32px;
        border-radius: 50%;
        animation: rotationBack 200ms linear infinite;
        transform-origin: center center;
    }
}

#pagePreloader {
    background-color: white;

    & p {
        font-size: 36px;
        font-weight: 600;
        margin-left: 15px;
    }
}

#pagePreloader.active,
.progress-loader.active {
    display: flex;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes rotationBack {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(-360deg);
    }
}

.error-alert {
    position: fixed;
    top: -100%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 18px 20px;
    background-color: white;
    border-radius: 14px;
    transition: 450ms;

    & div {
        display: flex;
        align-items: center;
        gap: 16px;

        & i {
            font-size: 44px;
            color: red;
        }

        & h3 {
            font-size: 20px;
            font-weight: 500;
        }

        & button {
            border: none;
            border-radius: 50%;
            width: 30px;
            aspect-ratio: 1 / 1;
            background-color: red;
            color: white;
            
            & i {
                font-size: 18px;
                color: white;
            }
        }
    }
}

.error-alert.error {
    top: 10%;
    transition: 450ms;
}

.form-popup {
    position: sticky;
    top: 15%;
    left: 10%;
    max-width: 380px;
    width: 100%;
    height: 70%;
    background-color: #ffffff;
    padding: 30px;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    backdrop-filter: brightness(80%);
}

.form-logo img {
    display: block;
    margin: 0 auto 60px;
    width: 50%;
}

.input-wrapper {
    position: relative;
    height: 48px;
    margin-bottom: 20px;
}

.input-wrapper input {
    display: block;
    width: 100%;
    height: 100%;
    font-size: 18px;
    border: none;
    border-bottom: 2px solid var(--primary);
    padding: 10px 20px;
}

.input-wrapper input:focus,
.input-wrapper input:focus-visible {
    outline: none;
}

.submit-btn {
    display: block;
    width: 100%;
    height: 48px;
    border: none;
    background-color: var(--primary);
    color: white;
    font-size: 18px;
}


@media screen and (max-width: 1024px) {
    body {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .form-popup {
        position: static;
        background-color: rgba(255, 255, 255, 0.7);
    }

    .form-logo img {
        width: 65%;
    }
}