@import url('https://fonts.googleapis.com/css2?family=Sansation:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Michroma:regular');
@import url('https://fonts.googleapis.com/css?family=Fustat:200,300,regular,500,600,700,800');

:root {
    --primary: #8A784E;
    --secondary: #fff;
    --gradient1: radial-gradient(circle, rgba(167, 146, 119, 1) 0%, rgba(138, 120, 78, 1) 100%);
    --title-color: #2b2b2b;
    --font: "Sansation";
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
    font-family: var(--font);
    background-image: url("../images/kitchen-table-image.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

a,
button {
    font-family: var(--font);
    cursor: pointer;
}

table {
    border-collapse: collapse;
}

.container {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
}

.button {
    min-width: 250px;
    border: none;
    border-radius: 16px;
    background-color: var(--primary);
    color: var(--secondary);
    padding: 10px 24px;
    font-size: 16px;
    font-family: var(--font);
}

.viewport {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: stretch;
    background-color: rgba(0, 0, 0, 0.4);

}

.side-bar {
    position: sticky;
    top: 0;
    left: 0;
    width: 20%;
    height: 100vh;
    padding: 24px 0;
    backdrop-filter: brightness(35%);
}

.side-bar .logo {
    margin-bottom: 45px;
    color: white;
    cursor: pointer;

    & img {
        width: 150px;
        margin-left: 10%;
    }
}

.side-bar-nav-list {
    list-style: none;

    & li {
        font-size: 24px;
        font-weight: 500;
        cursor: pointer;

        & a {
            width: 100%;
            padding-block: 14px;
            padding-left: 12%;
            display: inline-block;
            color: white;

            & i {
                margin-right: 6px;
            }
        }

        & a.active {
            background-color: var(--secondary);
            color: var(--primary);
        }
    }

    & li:hover {
        background-color: var(--secondary);

        & a {
            color: var(--primary);
        }
    }
}

.dashboard-cont {
    position: relative;
    width: 80%;
    height: 100%;
}

.progress-loader {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    display: none;
    align-items: center;
    justify-content: center;

    & .loader {
        width: 48px;
        height: 48px;
        border-radius: 50%;
        display: inline-block;
        position: relative;
        border: 6px solid;
        border-color: var(--secondary) var(--secondary) transparent;
        box-sizing: border-box;
        animation: rotation 400ms linear infinite;
    }

    & .loader::after {
        content: '';
        box-sizing: border-box;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        border: 6px solid;
        border-color: transparent var(--secondary) var(--secondary);
        width: 32px;
        height: 32px;
        border-radius: 50%;
        animation: rotationBack 200ms linear infinite;
        transform-origin: center center;
    }
}

.progress-loader.active {
    display: flex;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes rotationBack {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(-360deg);
    }
}

.header {
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    backdrop-filter: brightness(35%);
}

.header-cont {
    display: flex;
    align-items: center;
    justify-content: space-between;

    & h1 {
        font-size: 32px;
        color: var(--secondary);
    }

    & .header-actions {
        display: flex;
        align-items: center;
        gap: 10px;

        & .profile-btn {
            width: 40px;
            height: 40px;
            border: none;
            border-radius: 50%;
            background-color: var(--primary);
            color: var(--secondary);
            font-size: 24px;
        }
    }
}

.content {
    height: 90vh;
    overflow-y: scroll;
    padding-block: 0 20px;
    background-color: rgba(0, 0, 0, 0.18);
}

.products-table-header {
    width: 100%;
    position: sticky;
    z-index: 10;
    backdrop-filter: brightness(60%);
    top: 0;

    & tr {
        padding: 10px 0;
        display: grid;
        grid-template-columns: repeat(13, 1fr);

        & th {
            text-align: left;
            display: flex;
            width: 100%;
            align-items: center;
            padding: 0 15px 0;
            grid-row: 1 / span 1;
            color: var(--secondary);

            & span {
                display: inline-block;
                width: 100%;
            }
        }

        & th:nth-child(1) {
            text-align: center;
            grid-column: 1 / span 2;
        }

        & th:nth-child(2) {
            grid-column: 3 / span 3;
        }

        & th:nth-child(3) {
            grid-column: 6 / span 2;
        }

        & th:nth-child(4) {
            grid-column: 8 / span 2;
        }

        & th:nth-child(5) {
            grid-column: 10 / span 1;
            text-align: center;
        }

        & th:nth-child(6) {
            grid-column: 11 / span 1;
            text-align: center;
        }

        & th:nth-child(7) {
            grid-column: 12 / span 2;
            text-align: center;
        }
    }
}

.product {
    position: relative;
    padding: 10px 0;
    display: grid;
    grid-template-columns: repeat(13, 1fr);
    border-bottom: 1px solid #d3d1cb;

    & td {
        height: inherit;
        display: flex;
        align-items: center;
        padding: 0 15px 0;
        grid-row: 1 / span 1;
        color: var(--secondary);
    }

    & .product-image {
        grid-column: 1 / span 2;
        border: none;

        & img {
            width: 90%;
            margin: 0 auto;
            aspect-ratio: 1 / 1;
            object-fit: contain;
        }
    }

    & .product-name {
        grid-column: 3 / span 3;

        & h2 {
            font-weight: 500;
            font-size: 18px
        }
    }

    & .product-price {
        grid-column: 6 / span 2;
    }

    & .product-category {
        grid-column: 8 / span 2;
    }

    & .is-ready-meal {
        grid-column: 10 / span 1;

        & p {
            width: 100%;
            text-align: center;
        }
    }

    & .is-active-meal {
        grid-column: 11 / span 1;

        & p {
            width: 100%;
            text-align: center;
        }
    }

    & .product-actions {
        grid-column: 12 / span 2;
        flex-direction: column;
        justify-content: center;
        gap: 10px;

        & button {
            display: block;
            width: 100%;
        }

        & .update-btn {
            border: none;
            background-color: forestgreen;
            padding: 10px 24px;
            border-radius: 16px;
            color: white;
            font-family: var(--font);
            font-size: 16px;
        }

        & .delete-btn {
            border: none;
            background-color: red;
            padding: 10px 24px;
            border-radius: 16px;
            color: white;
            font-family: var(--font);
            font-size: 16px;
        }

    }
}

.product::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: calc(100% - 20px);
    height: calc(100% - 12px);
    border-radius: 14px;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: -1;
    transition: 400ms;
    opacity: 0;
}

.product:hover::after {
    transition: 400ms;
    opacity: 1;
}

.form-header .section-title {
    color: var(--secondary);
    font-size: 24px;
    font-weight: 500;
    margin-block: 25px;
}

#create-form,
#update-form {
    width: 55%;

    & div {
        margin-bottom: 15px;
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(1, 1fr);
        align-items: center;
        gap: 10px;
        height: 32px;
        color: var(--secondary);

        & label {
            display: block;
            font-size: 18px;
            font-weight: 500;
            grid-column: 1 / span 2;
        }

        & input {
            display: block;
            height: 100%;
            padding: 8px 4px;
            border: 1px solid var(--primary);
            font-family: var(--font);
            font-size: 18px;
            grid-column: 3 / span 4;
            background-color: var(--secondary);
        }

        & input:focus,
        & input:focus-visible,
        & select:focus,
        & select:focus-visible {
            outline: none;
        }

        & select {
            display: block;
            font-family: var(--font);
            font-size: 16px;
            height: 32px;
            grid-column: 3 / span 4;
        }

        & input[type="number"],
        & input[type="number"]::-webkit-inner-spin-button,
        & input[type="number"]::-webkit-outer-spin-button {
            appearance: none;
            margin: 0;
        }

        & input[type="file"] {
            font-size: 16px;
            padding: 4px;
        }
    }

    & button {
        padding: 12px 24px;
        font-size: 18px;
        border: none;
        color: white;
        border-radius: 12px;
        margin-right: 20px;
        pointer-events: all;
    }

    & button[type="button"] {
        background-color: red;
    }

    & button[type="submit"] {
        background-color: forestgreen;
    }

    & button[type="button"].change-password-btn {
        background-color: var(--primary);
    }
}

.update-pass-popup-background,
.del-popup-background {
    background-color: rgba(0, 0, 0, 0.6);
    position: fixed;
    top: 100%;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 99;
    pointer-events: none;
    opacity: 0;
}

.update-pass-popup-background.active,
.del-popup-background.active {
    opacity: 1;
    pointer-events: all;
    top: 0;
    animation: 150ms fading linear forwards;
}

@keyframes fading {
    from {
        top: 0;
        opacity: 0;
    }

    to {
        top: 0;
        opacity: 1;
    }
}

.del-popup {
    width: 40%;
    padding-block: 50px;
    background: var(--gradient1);
    border-radius: 20px;
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 111;
    transform: translate(-50%, -50%);
    opacity: 0;
    pointer-events: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;

    & .del-title h3 {
        font-size: 24px;
        font-weight: 500;
        color: var(--secondary);
    }

    & .del-img img {
        width: 240px;
    }

    & .del-name p {
        color: var(--secondary);
        font-size: 20px;
        font-weight: 700;
    }

    & .del-actions {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;

        & button[type="button"],
        & .delete-btn {
            border: none;
            border-radius: 10px;
            background-color: red;
            padding: 10px 24px;
            color: white;
        }

        & button[type="submit"],
        & .cancel-btn {
            border: none;
            border-radius: 10px;
            background-color: forestgreen;
            padding: 10px 24px;
            color: white;
        }

    }
}

.update-pass-popup.active,
.del-popup.active {
    animation: 150ms zooming linear forwards;

    & button {
        pointer-events: all;
    }
}

.category-del-popup {
    & .del-name p {
        font-size: 28px;
        margin-block: 20px;
    }
}

.update-pass-popup {
    width: 40%;
    padding-block: 50px;
    padding-inline: 40px;
    background: var(--gradient1);
    border-radius: 20px;
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 111;
    transform: translate(-50%, -50%);
    opacity: 0;
    pointer-events: none;
}

.update-pass-popup.active {
    animation: 150ms zooming linear forwards;
    pointer-events: all;
}

#update-pass-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

    & label {
        font-size: 22px;
        color: var(--secondary);
        margin-bottom: 10px;
    }

    & input {
        border: none;
        display: block;
        width: 70%;
        height: 48px;
        transition: 300ms;
        box-shadow: inset 0 0 10px 0 rgba(0, 0, 0, 0.6);
        border-radius: 14px;
        padding: 14px;
        font-family: var(--font);
        font-size: 18px;
        margin-bottom: 14px;
    }

    & input:focus,
    & input:focus-visible {
        outline: none;
        transition: 300ms;
    }

    & .update-pass-form-actions {
        display: flex;
        align-items: center;
        gap: 24px;

        & button {
            padding: 10px 24px;
            border: none;
            border-radius: 14px;
            font-size: 18px;
            color: white;
        }

        & button[type="button"] {
            background-color: red;
        }

        & button[type="submit"] {
            background-color: forestgreen;
        }
    }
}

@keyframes zooming {
    from {
        opacity: 0;
        transform: translate(-50%, -50%) scale(0);
    }

    to {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
    }
}

.category-box,
.table-box,
.user-box,
.orders-container {
    padding-block: 25px 40px;
}

.category {
    border: 3px solid var(--primary);
    border-radius: 20px;
    padding: 20px;
    margin-bottom: 20px;
    position: relative;
    overflow: hidden;

    & div {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    & div h3 {
        font-size: 24px;
        font-weight: 700;
        color: var(--secondary);
    }

    & div .category-action {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;

        & p {
            font-size: 18px;
            font-weight: 500;
            margin-right: 50px;
            color: var(--secondary);
        }

        & button {
            border: none;
            padding: 10px 24px;
            font-size: 18px;
            border-radius: 16px;
            color: white;
        }

        & .update-btn {
            background-color: forestgreen;
        }

        & .delete-btn {
            background-color: red;
        }
    }
}

.category::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: calc(100% - 10px);
    height: calc(100% - 10px);
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.3);
    transition: 300ms;
    opacity: 0;
    z-index: -1;
    border-radius: 14px;
}

.category:hover::after {
    opacity: 1;
}

.table-box {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;

    & .table {
        aspect-ratio: 1 / 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 50px;
        border: 3px solid var(--primary);
        border-radius: 20px;
        padding: 16px;
        background-color: rgba(0, 0, 0, 0.3);
        background-image: url('../images/table-background.png');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;

        & h3 {
            font-family: "Michroma";
            font-size: 50px;
            font-weight: 700;
            line-height: 60px;
            align-self: self-end;
            color: var(--secondary);
        }

        & div {
            display: flex;
            align-items: center;
            justify-content: center;

            & button {
                width: 50%;
                display: block;
                border: none;
                padding: 10px 16px;
                font-size: 17px;
                color: white;
            }

            & .update-btn {
                border-radius: 20px 0 0 20px;
                background-color: forestgreen;
            }

            & .delete-btn {
                border-radius: 0 20px 20px 0;
                background-color: red;
            }
        }
    }
}

#orders-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.order {
    box-shadow: 0px 3px 8px 0 rgba(0, 0, 0, 0.4);
    border-top: 0.5px dashed var(--title-color);
    border-bottom: 0.5px dashed var(--title-color);
    padding: 36px 22px 16px;
    font-family: "Courier New";
    font-weight: 400;
    background-color: white;

    & div {
        margin-bottom: 10px;
        font-size: 20px;
        color: #000;
    }

    & .table {
        & .table-header {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-bottom: 30px;

            & h2 {
                font-family: var(--font);
                font-weight: 900;
                margin-top: 20px;
                margin-bottom: 8px;
            }

            & p {
                font-family: var(--font);
                font-weight: 400;
                font-size: 14px;
                text-align: center;
            }
        }

        & .table-number {
            text-align: center;
            font-size: 22px;
        }

        & .order-number {
            text-align: center;
        }

        & .order-timer {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 20px;

            & p {
                margin-left: 10px;
            }
        }
    }

    & .products {
        & .meals-list {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 6px;

            & .meal-name,
            & .meal-quantity {
                font-size: 18px;
                margin: 0;
            }
        }
    }

    & .total-price-div {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        margin-top: 25px;
        padding-top: 10px;
        border-top: 3.2px dotted var(--title-color);

        & .price-tag {
            margin-bottom: 20px;

            & span {
                font-size: 20px;
                font-weight: 600;
            }
        }

        & .button-box {
            width: 100%;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 10px;

            & button {
                display: block;
                border: none;
                border-radius: 14px;
                width: 45px;
                aspect-ratio: 1 / 1;
                margin: 0 auto;
                color: white;
                font-size: 22px;
                font-weight: 400;
            }

            & button:nth-child(1) {
                background-color: var(--title-color);
                /* background-color: var(--primary); */
            }

            & button:nth-child(2) {
                background-color: red;
            }

            & button:nth-child(3) {
                background-color: forestgreen;
            }
        }
    }
}

.user-box {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
}

.user {
    position: relative;
    padding: 30px 30px 15px;
    border-radius: 20px;
    overflow: hidden;

    & .user-img.background {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: -1;
        filter: blur(5px);
    }

    & .user-role {
        position: absolute;
        top: 0%;
        right: 0%;
        background-color: rgba(255, 255, 255, 0.2);
        padding: 10px 18px;
        border-radius: 0 0 0 20px;
        color: rgba(255, 255, 255, 0.8);
    }

    & .user-img-wrapper {
        margin-bottom: 18px;
        width: 90px;
        aspect-ratio: 1 / 1;
        border-radius: 50%;
        overflow: hidden;
        box-shadow: 0 0 16px 5px #b0b0b0;

        & .user-img {
            width: 100%;
        }
    }

    & .user-name {
        font-family: "Fustat";
        font-size: 24px;
        font-weight: 600;
        color: var(--secondary);
        margin-bottom: 10px;
    }

    & .user-card-actions {
        display: flex;
        align-items: center;
        gap: 14px;

        & * {
            border: none;
            background-color: rgba(255, 255, 255, 0.2);
            padding: 8px 18px;
            border-radius: 50px;
            color: rgba(255, 255, 255, 0.8);
        }
    }
}

@media screen and (max-width: 1024px) {
    .product:hover {
        background-color: var(--secondary);
    }
}